#![enable(implicit_some)]

Prefab(
    entities: [
        (
            data: (
                transform: (
                    translation: (-1000.0, 0.0, -1000.0),
                    rotation: (0.0, 0.0, 1.0, 0.0),
                    scale: (5.0, 5.0, 5.0),
                ),
                gltf: File("maps/sol/mercury.gltf", ()),
            )
        ),
        (
            data: (
                transform: (
                    translation: (10000.0, 0.0, -30000.0),
                    rotation: (0.0, 0.0, 1.0, 0.0),
                    scale: (1000.0, 1000.0, 1000.0),
                ),
                star: (
                    color: Srgb(1.0, 1.0, 0.9),
                ),
                light: (
                    light: Point((
                        intensity: 8.0,
                        color: (0.8, 0.8, 0.7),
                    )),
                ),
            ),
        ),
        (
            data: (
                light: (ambient_color: ((0.05, 0.05, 0.05, 0.05))),
            ),
        ),

    ],
)